head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title FTPBD Search
    link(rel="stylesheet" href="./styles/mystyles.css")
    link(href='./styles/icons.css' rel='stylesheet')
    script(src="./scripts/main.js")
    script(src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.1/dist/alpine.min.js" defer)
