doctype html
html
    include includes/head.pug
    body
        include includes/nav.pug
        main(x-data="movie()")
            form.container.m-4
                input#year-input.mb-2.input(x-model="year" placeholder="Enter release year...")
                input#movie-input.mb-2.input(x-model="title" placeholder="Enter movie title...")
                button#search-button.button.is-dark(type="submit" x-on:click.prevent="fetchDirs" x-text="loading ? 'Loading...' : 'Submit'")

            .mx-4
                template(x-if="results.length > 0")
                    h2.is-size-4.mb-2 Results
                template(x-if="directories")
                    ul
                        template(x-for="item in results")
                            li.is-flex.is-align-items-center
                                i.gg-folder.mr-3
                                button.button.result-item.is-dark(x-text="item.name" x-on:click="fetchSingle(item.href)")
                template(x-if="!directories")
                    ul
                        template(x-for="item in results")
                            li.is-flex.is-align-items-center
                                i.gg-file.mr-3
                                a(x-bind:href="item.href" x-text="item.name" target="_blank")

