:root {
    --ggs: 0.9;
}

.gg-file {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 16px;
    border: 2px solid transparent;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 0 0 2px;
    border-radius: 1px;
    border-top-right-radius: 4px;
    overflow: hidden
}

.gg-file::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    right: -1px;
    top: -1px
}

.gg-folder {
    transform: scale(var(--ggs,1))
}

.gg-folder,
.gg-folder::after {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 22px;
    height: 16px;
    border: 2px solid;
    border-radius: 3px
}

.gg-folder::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 4px;
    border-bottom: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: -5px
}